{% load staticfiles %}<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" />
		<meta name="robots" content="none" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>Orchestrované zobrazovátko</title>
		<link href="{% static "src/img/favicon.ico" %}" rel="icon" type="image/x-icon" />
			  <link href="{% static "src/css/common.css" %}" rel="stylesheet" media="all" />
	</head>
	<!--[if IE 9]><body class="no-js ie-9"><![endif]-->
	<!--[if IE 8]><body class="no-js ie-8"><![endif]-->
	<!--[if !IE]><!--><body class="no-js"><!--<![endif]-->
		<!--[if lte IE 7]>
			<div class="browserError hide-print text-center text-small"><span>Používáte příliš zastaralý prohlížeč. Pro správné zobrazení stránek doporučujeme aktualizaci na novější verzi.</span></div>
		<![endif]-->
		<noscript>
		<div class="browserError hide-print text-center text-small"><span>Máte vypnutý JavaScript. Pro správné zobrazení stránek doporučujeme JavaScript zapnout.</span></div>
		</noscript>
		<div class="container">
            <div class="row text-center">
				<h1>Orchestrované zobrazovátko</h1>
				<a class="refresh hide" id="js-refresh" href="#" title="Refresh"></a>
                <div class="colColumn col-4 s-col-12">
					<div class="contentColumn content" id="js-resource">
						<h2>Resource</h2>
						<div class="col-6 m-col-12 s-col-12" id="js-resource-start">
							<div class="add">
								<a class="add-content" id="js-resource-add" href="#" title="Add"></a>
							</div>
						</div>
					</div>
                </div>
                <div class="colColumn col-4 s-col-12">
					<div class="contentColumn content" id="js-playlist">
						<h2>Playlist</h2>
						<div class="col-6 m-col-12 s-col-12" id="js-playlist-start">
							<div class="add">
								<a class="add-content" id="js-playlist-add" href="#" title="Add"></a>
							</div>
						</div>
					</div>
                </div>
                <div class="colColumn col-4 s-col-12">
					<div class="contentColumn content" id="js-screen-group">
						<h2>Screen group</h2>
						<div class="col-6 m-col-12 s-col-12" id="js-screen-group-start">
							<div class="add">
								<a class="add-content" id="js-screen-group-add" href="#" title="Add"></a>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>
		<div class="overlay hide" id="js-overlay">
			<div class="dialog" id="js-dialog">
				<a class="dialog-close" href="#" id="js-dialog-close"></a>
				<form class="dialog-content hide js-dialog-content" id="js-resource-form">
					<h3>Add resource</h3>
					<label for="js-resource-id">Name:</label>
					<input id="js-resource-id" name="resource-id" type="text" placeholder="Unique resource ID" />
					<br />
					<input class="js-resource-type" id="js-resource-type-url" name="resource-type" value="url" type="radio" checked="checked" /><label for="js-resource-type-url">url</label>
					<input class="js-resource-type" id="js-resource-type-text" name="resource-type" value="text" type="radio" /><label for="js-resource-type-text">text</label>
					<input class="js-resource-type" id="js-resource-type-html" name="resource-type" value="html" type="radio" /><label for="js-resource-type-html">html</label>
					<textarea id="js-resource-definition" name="resource-definition" placeholder="New resource definition"></textarea>
					<input type="submit" value="Submit" />
				</form>
				<form class="dialog-content hide js-dialog-content" id="js-playlist-form">
					<h3>Add playlist</h3>
					<label for="js-playlist-id">Name:</label>
					<input id="js-playlist-id" name="playlist-id" type="text" placeholder="Unique playlist ID" />
					<br />
					<input type="submit" value="Submit" />
				</form>
				<form class="dialog-content hide js-dialog-content" id="js-screen-group-form">
					<h3>Add screen group</h3>
					<label for="js-screen-group-id">Name:</label>
					<input id="js-screen-group-id" name="screen-group-id" type="text" placeholder="Unique screen group ID" />
					<br />
					<input type="submit" value="Submit" />
				</form>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "src/lib/jquery.min.js" %}"><\/script>');</script>
		<!--[if lte IE 8]>
			<script src="{% static "src/lib/ie.min.js" %}"></script>
		<![endif]-->
		<script src="{% static "src/js/common.js" %}"></script>
	</body>
</html>
