@charset "utf-8";

/*
 ===================================================================================================
 aGRID - CSS (2015/05/05)
 ===================================================================================================
*/

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Normalize
 ---------------------------------------------------------------------------------------------------
*/

* { margin: 0; padding: 0; }
*:focus { outline: 0; }
html { overflow-x: hidden; overflow-y: scroll; }
a { text-decoration: none; background-color: transparent; }
img,
fieldset,
legend,
iframe { border: 0; }
strong
b,
optgroup { font-weight: bold; }
ul,
ol,
dd,
optgroup option { margin-left: 1.25em; }
small { font-size: 0.75em; }
abbr[title] { border-bottom: 1px dotted; cursor: help; }
sup,
sub { position: relative; line-height: 0; font-size: 0.75em; }
sup { top: -0.5em; }
sub { bottom: -0.5em; }
address,
optgroup { font-style: normal; }
hr { border: 1px solid #000; border-bottom: 0; height: 0; }
table,
input,
select,
textarea { max-width: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
legend { white-space: normal; }
input,
select,
textarea { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #777; line-height: normal; font-family: inherit; font-size: inherit; text-transform: none; color: inherit; }
input,
select { height: 1.5em; }
input,
textarea { padding: 0 0.25em; }
input[type="button"],
input[type="submit"],
input[type="reset"] { cursor: pointer; }
input[type="radio"],
input[type="checkbox"],
input[type="file"] { margin: 0.25em; border: 0; height: auto; }
input[disabled] { cursor: auto; }
textarea { width: 100%; height: 8em; vertical-align: top; overflow: auto; }

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Typography
 ---------------------------------------------------------------------------------------------------
*/

body { font: 16px/1.5 Arial, Helvetica, sans-serif; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 16px; }
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 0.75em; }
p,
img,
ul,
ol,
dl,
table,
address { margin-bottom: 1em; }
ul ul,
ol ol,
dl dl { margin-bottom: 0; }

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Large devices
 ---------------------------------------------------------------------------------------------------
*/

body:after { display: none; content: 'large'; }
.container { position: relative; text-align: center; }
.row { position: relative; margin: 0 auto; max-width: 960px; text-align: left; }
.content { position: relative; }
.row:after,
.content:after,
.clearfix:after { content: ''; display: table; clear: both; }
.clear { clear: both; }
.col,
.col-0,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 { position: relative; float: left; display: inline; min-height: 1px; }
.col-0 { display: none; width: 0; background: none; }
.col-1 { width: 8.3333%; }
.col-2 { width: 16.6667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.3333%; }
.col-5 { width: 41.6667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.3333%; }
.col-8 { width: 66.6667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6667%; }
.col-12 { width: 100%; }
.prefix-0 { margin-left: 0; }
.prefix-1 { margin-left: 8.3333%; }
.prefix-2 { margin-left: 16.6667%; }
.prefix-3 { margin-left: 25%; }
.prefix-4 { margin-left: 33.3333%; }
.prefix-5 { margin-left: 41.6667%; }
.prefix-6 { margin-left: 50%; }
.prefix-7 { margin-left: 58.3333%; }
.prefix-8 { margin-left: 66.6667%; }
.prefix-9 { margin-left: 75%; }
.prefix-10 { margin-left: 83.3333%; }
.prefix-11 { margin-left: 91.6667%; }
.prefix-12 { margin-left: 100%; }
.suffix-0 { margin-right: 0; }
.suffix-1 { margin-right: 8.3333%; }
.suffix-2 { margin-right: 16.6667%; }
.suffix-3 { margin-right: 25%; }
.suffix-4 { margin-right: 33.3333%; }
.suffix-5 { margin-right: 41.6667%; }
.suffix-6 { margin-right: 50%; }
.suffix-7 { margin-right: 58.3333%; }
.suffix-8 { margin-right: 66.6667%; }
.suffix-9 { margin-right: 75%; }
.suffix-10 { margin-right: 83.3333%; }
.suffix-11 { margin-right: 91.6667%; }
.suffix-12 { margin-right: 100%; }
.push-0 { left: 0; }
.push-1 { left: 8.3333%; }
.push-2 { left: 16.6667%; }
.push-3 { left: 25%; }
.push-4 { left: 33.3333%; }
.push-5 { left: 41.6667%; }
.push-6 { left: 50%; }
.push-7 { left: 58.3333%; }
.push-8 { left: 66.6667%; }
.push-9 { left: 75%; }
.push-10 { left: 83.3333%; }
.push-11 { left: 91.6667%; }
.push-12 { left: 100%; }
.pull-0 { right: 0; }
.pull-1 { right: 8.3333%; }
.pull-2 { right: 16.6667%; }
.pull-3 { right: 25%; }
.pull-4 { right: 33.3333%; }
.pull-5 { right: 41.6667%; }
.pull-6 { right: 50%; }
.pull-7 { right: 58.3333%; }
.pull-8 { right: 66.6667%; }
.pull-9 { right: 75%; }
.pull-10 { right: 83.3333%; }
.pull-11 { right: 91.6667%; }
.pull-12 { right: 100%; }
.hide { display: none; background: none; }
.show { display: block; }
.invisible { visibility: hidden;  background: none; }
.visible { visibility: visible; }
.display-none { display: none; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
.display-block { display: block; }
.block-left { display: block; margin-right: auto; }
.block-center { display: block; margin-right: auto; margin-left: auto; }
.block-right { display: block; margin-left: auto; }
.block-responsive { display: block; max-width: 100%; height: auto; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }
.margin-none { margin: 0; }
.border-none { border: 0; }
.padding-none { padding: 0; }
.list-none { list-style-type: none; }
.text-normal { font-size: 1em; font-weight: normal; font-style: normal; text-align: left; text-decoration: none; }
.text-small { font-size: 0.875em; }
.text-xsmall { font-size: 0.75em; }
.text-xxsmall { font-size: 0.625em; }
.text-xxxsmall { font-size: 0.5em; }
.text-medium { font-size: 1em; }
.text-large { font-size: 1.125em; }
.text-xlarge { font-size: 1.25em; }
.text-xxlarge { font-size: 1.375em; }
.text-xxxlarge { font-size: 1.5em; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-underline { text-decoration: underline; }
.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.browserError { padding: 5px; color: #333; background: #f77; }
.no-js .no-js-hide { display: none; background: none; }
.no-js .no-js-show { display: block; }
.no-js .no-js-invisible { visibility: hidden; background: none; }
.no-js .no-js-visible { visibility: visible; }

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Medium devices
 ---------------------------------------------------------------------------------------------------
*/

@media (min-width: 768px) and (max-width: 979px) {

	body:after { content: 'medium'; }
	.m-col,
    .m-col-0,
    .m-col-1,
    .m-col-2,
    .m-col-3,
    .m-col-4,
    .m-col-5,
    .m-col-6,
    .m-col-7,
    .m-col-8,
    .m-col-9,
    .m-col-10,
    .m-col-11,
    .m-col-12 { position: relative; float: left; display: inline; }
    .m-col-0 { display: none; width: 0; background: none; }
    .m-col-1 { width: 8.3333%; }
    .m-col-2 { width: 16.6667%; }
    .m-col-3 { width: 25%; }
    .m-col-4 { width: 33.3333%; }
    .m-col-5 { width: 41.6667%; }
    .m-col-6 { width: 50%; }
    .m-col-7 { width: 58.3333%; }
    .m-col-8 { width: 66.6667%; }
    .m-col-9 { width: 75%; }
    .m-col-10 { width: 83.3333%; }
    .m-col-11 { width: 91.6667%; }
    .m-col-12 { width: 100%; }
    .m-prefix-0 { margin-left: 0; }
    .m-prefix-1 { margin-left: 8.3333%; }
    .m-prefix-2 { margin-left: 16.6667%; }
    .m-prefix-3 { margin-left: 25%; }
    .m-prefix-4 { margin-left: 33.3333%; }
    .m-prefix-5 { margin-left: 41.6667%; }
    .m-prefix-6 { margin-left: 50%; }
    .m-prefix-7 { margin-left: 58.3333%; }
    .m-prefix-8 { margin-left: 66.6667%; }
    .m-prefix-9 { margin-left: 75%; }
    .m-prefix-10 { margin-left: 83.3333%; }
    .m-prefix-11 { margin-left: 91.6667%; }
    .m-prefix-12 { margin-left: 100%; }
    .m-suffix-0 { margin-right: 0; }
    .m-suffix-1 { margin-right: 8.3333%; }
    .m-suffix-2 { margin-right: 16.6667%; }
    .m-suffix-3 { margin-right: 25%; }
    .m-suffix-4 { margin-right: 33.3333%; }
    .m-suffix-5 { margin-right: 41.6667%; }
    .m-suffix-6 { margin-right: 50%; }
    .m-suffix-7 { margin-right: 58.3333%; }
    .m-suffix-8 { margin-right: 66.6667%; }
    .m-suffix-9 { margin-right: 75%; }
    .m-suffix-10 { margin-right: 83.3333%; }
    .m-suffix-11 { margin-right: 91.6667%; }
    .m-suffix-12 { margin-right: 100%; }
    .m-push-0 { left: 0; }
    .m-push-1 { left: 8.3333%; }
    .m-push-2 { left: 16.6667%; }
    .m-push-3 { left: 25%; }
    .m-push-4 { left: 33.3333%; }
    .m-push-5 { left: 41.6667%; }
    .m-push-6 { left: 50%; }
    .m-push-7 { left: 58.3333%; }
    .m-push-8 { left: 66.6667%; }
    .m-push-9 { left: 75%; }
    .m-push-10 { left: 83.3333%; }
    .m-push-11 { left: 91.6667%; }
    .m-push-12 { left: 100%; }
    .m-pull-0 { right: 0; }
    .m-pull-1 { right: 8.3333%; }
    .m-pull-2 { right: 16.6667%; }
    .m-pull-3 { right: 25%; }
    .m-pull-4 { right: 33.3333%; }
    .m-pull-5 { right: 41.6667%; }
    .m-pull-6 { right: 50%; }
    .m-pull-7 { right: 58.3333%; }
    .m-pull-8 { right: 66.6667%; }
    .m-pull-9 { right: 75%; }
    .m-pull-10 { right: 83.3333%; }
    .m-pull-11 { right: 91.6667%; }
    .m-pull-12 { right: 100%; }
    .m-hide { display: none; background: none; }
    .m-show { display: block; }
	.m-invisible { visibility: hidden;  background: none; }
    .m-visible { visibility: visible; }
	.m-display-none { display: none; }
	.m-display-inline { display: inline; }
	.m-display-inline-block { display: inline-block; }
	.m-display-block { display: block; }
    .m-block-left { display: block; margin-right: auto; }
    .m-block-center { display: block; margin-right: auto; margin-left: auto; }
    .m-block-right { display: block; margin-left: auto; }
    .m-block-responsive { display: block; max-width: 100%; height: auto; }
    .m-float-left { float: left; }
    .m-float-right { float: right; }
    .m-float-none { float: none; }
	.m-margin-none { margin: 0; }
	.m-border-none { border: 0; }
	.m-padding-none { padding: 0; }
	.m-list-none { list-style-type: none; }
	.m-text-normal { font-size: 1em; font-weight: normal; font-style: normal; text-align: left; text-decoration: none; }
	.m-text-small { font-size: 0.875em; }
	.m-text-xsmall { font-size: 0.75em; }
	.m-text-xxsmall { font-size: 0.625em; }
	.m-text-xxxsmall { font-size: 0.5em; }
	.m-text-medium { font-size: 1em; }
	.m-text-large { font-size: 1.125em; }
	.m-text-xlarge { font-size: 1.25em; }
	.m-text-xxlarge { font-size: 1.375em; }
	.m-text-xxxlarge { font-size: 1.5em; }
	.m-text-bold { font-weight: bold; }
	.m-text-italic { font-style: italic; }
	.m-text-left { text-align: left; }
	.m-text-center { text-align: center; }
	.m-text-right { text-align: right; }
	.m-text-justify { text-align: justify; }
	.m-text-underline { text-decoration: underline; }
	.m-text-uppercase { text-transform: uppercase; }
	.m-text-lowercase { text-transform: lowercase; }

}

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Small devices
 ---------------------------------------------------------------------------------------------------
*/

@media (max-width: 767px) {

	body:after { content: 'small'; }
    .container { min-width: 240px; }
	.s-col,
    .s-col-0,
    .s-col-1,
    .s-col-2,
    .s-col-3,
    .s-col-4,
    .s-col-5,
    .s-col-6,
    .s-col-7,
    .s-col-8,
    .s-col-9,
    .s-col-10,
    .s-col-11,
    .s-col-12 { position: relative; float: left; display: inline; }
    .s-col-0 { display: none; width: 0; background: none; }
    .s-col-1 { width: 8.3333%; }
    .s-col-2 { width: 16.6667%; }
    .s-col-3 { width: 25%; }
    .s-col-4 { width: 33.3333%; }
    .s-col-5 { width: 41.6667%; }
    .s-col-6 { width: 50%; }
    .s-col-7 { width: 58.3333%; }
    .s-col-8 { width: 66.6667%; }
    .s-col-9 { width: 75%; }
    .s-col-10 { width: 83.3333%; }
    .s-col-11 { width: 91.6667%; }
    .s-col-12 { width: 100%; }
    .s-prefix-0 { margin-left: 0; }
    .s-prefix-1 { margin-left: 8.3333%; }
    .s-prefix-2 { margin-left: 16.6667%; }
    .s-prefix-3 { margin-left: 25%; }
    .s-prefix-4 { margin-left: 33.3333%; }
    .s-prefix-5 { margin-left: 41.6667%; }
    .s-prefix-6 { margin-left: 50%; }
    .s-prefix-7 { margin-left: 58.3333%; }
    .s-prefix-8 { margin-left: 66.6667%; }
    .s-prefix-9 { margin-left: 75%; }
    .s-prefix-10 { margin-left: 83.3333%; }
    .s-prefix-11 { margin-left: 91.6667%; }
    .s-prefix-12 { margin-left: 100%; }
    .s-suffix-0 { margin-right: 0; }
    .s-suffix-1 { margin-right: 8.3333%; }
    .s-suffix-2 { margin-right: 16.6667%; }
    .s-suffix-3 { margin-right: 25%; }
    .s-suffix-4 { margin-right: 33.3333%; }
    .s-suffix-5 { margin-right: 41.6667%; }
    .s-suffix-6 { margin-right: 50%; }
    .s-suffix-7 { margin-right: 58.3333%; }
    .s-suffix-8 { margin-right: 66.6667%; }
    .s-suffix-9 { margin-right: 75%; }
    .s-suffix-10 { margin-right: 83.3333%; }
    .s-suffix-11 { margin-right: 91.6667%; }
    .s-suffix-12 { margin-right: 100%; }
    .s-push-0 { left: 0; }
    .s-push-1 { left: 8.3333%; }
    .s-push-2 { left: 16.6667%; }
    .s-push-3 { left: 25%; }
    .s-push-4 { left: 33.3333%; }
    .s-push-5 { left: 41.6667%; }
    .s-push-6 { left: 50%; }
    .s-push-7 { left: 58.3333%; }
    .s-push-8 { left: 66.6667%; }
    .s-push-9 { left: 75%; }
    .s-push-10 { left: 83.3333%; }
    .s-push-11 { left: 91.6667%; }
    .s-push-12 { left: 100%; }
    .s-pull-0 { right: 0; }
    .s-pull-1 { right: 8.3333%; }
    .s-pull-2 { right: 16.6667%; }
    .s-pull-3 { right: 25%; }
    .s-pull-4 { right: 33.3333%; }
    .s-pull-5 { right: 41.6667%; }
    .s-pull-6 { right: 50%; }
    .s-pull-7 { right: 58.3333%; }
    .s-pull-8 { right: 66.6667%; }
    .s-pull-9 { right: 75%; }
    .s-pull-10 { right: 83.3333%; }
    .s-pull-11 { right: 91.6667%; }
    .s-pull-12 { right: 100%; }
    .s-hide { display: none; background: none; }
    .s-show { display: block; }
	.s-invisible { visibility: hidden; background: none; }
    .s-visible { visibility: visible; }
	.s-display-none { display: none; }
	.s-display-inline { display: inline; }
	.s-display-inline-block { display: inline-block; }
	.s-display-block { display: block; }
    .s-block-left { display: block; margin-right: auto; }
    .s-block-center { display: block; margin-right: auto; margin-left: auto; }
    .s-block-right {  display: block; margin-left: auto;}
    .s-block-responsive { display: block; max-width: 100%; height: auto; }
    .s-float-left { float: left; }
    .s-float-right { float: right; }
    .s-float-none { float: none; }
	.s-margin-none { margin: 0; }
	.s-border-none { border: 0; }
	.s-padding-none { padding: 0; }
	.s-list-none { list-style-type: none; }
	.s-text-normal { font-size: 1em; font-weight: normal; font-style: normal; text-align: left; text-decoration: none; }
	.s-text-small { font-size: 0.875em; }
	.s-text-xsmall { font-size: 0.75em; }
	.s-text-xxsmall { font-size: 0.625em; }
	.s-text-xxxsmall { font-size: 0.5em; }
	.s-text-medium { font-size: 1em; }
	.s-text-large { font-size: 1.125em; }
	.s-text-xlarge { font-size: 1.25em; }
	.s-text-xxlarge { font-size: 1.375em; }
	.s-text-xxxlarge { font-size: 1.5em; }
	.s-text-bold { font-weight: bold; }
	.s-text-italic { font-style: italic; }
	.s-text-left { text-align: left; }
	.s-text-center { text-align: center; }
	.s-text-right { text-align: right; }
	.s-text-justify { text-align: justify; }
	.s-text-underline { text-decoration: underline; }
	.s-text-uppercase { text-transform: uppercase; }
	.s-text-lowercase { text-transform: lowercase; }

}

/*
 ---------------------------------------------------------------------------------------------------
 aGRID - Print
 ---------------------------------------------------------------------------------------------------
*/

@media print {

	body { color: #000; background: #fff; }
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	img { page-break-inside: avoid; }
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 { page-break-after: avoid; }
    .row { margin: 0; width: 100%; }
    .print-hide { display: none; background: none; }
    .print-show { display: block; }
    .print-invisible { visibility: hidden; background: none; }
    .print-visible { visibility: visible; }

}
