/*
 ---------------------------------------------------------------------------------------------------
 Custom - Base
 ---------------------------------------------------------------------------------------------------
*/

html,
body,
.container,
.row,
.colColumn {
	height: 100%;

	@media @small {
		height: auto;
	}

}

body {
	background-color: @grey-light;
}

.row {
	max-width: 1920px;
}

.contentColumn {
	min-height: 100%;

	@media @small {
		min-height: 0;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

h1 {
	position: absolute;
	z-index: 10;
	width: 100%;
	color: @grey-light;
	font-size: 1em;
	font-size: 5.5vw;
	text-shadow: 0 0 5px @grey-dark;
}

h2,
h3,
h4,
h5,
h6 {
	color: @grey-dark;
	text-shadow: 0 0 5px @white;
}

h2 {
	position: relative;
	padding-top: 1em;
	padding-top: 8vw;
}
