/*
 ---------------------------------------------------------------------------------------------------
 Custom - Footer
 ---------------------------------------------------------------------------------------------------
*/

.overlay,
.dialog {
	position: fixed;
	top: 0;
}

.overlay {
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: @black;
	background-color: fade(@black, 80%);
}

.dialog {
	z-index: 110;
	top: 1em;
	top: 8vw;
	left: 50%;
	margin-left: -475px;
	border-radius: 5px;
	width: 950px;
	box-shadow: 0 1px 5px 0 @black;
	box-shadow: 0 1px 5px 0 fade(@black, 80%);
	background-color: @white;

	@media @medium, @small {
		left: 0;
		margin-left: 0;
		width: 100%;
	}

}

.dialog-close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	box-shadow: 0 1px 5px 0 @black;
	box-shadow: 0 1px 5px 0 fade(@black, 20%);
	background-color: @white;
	transition: box-shadow 0.2s ease;
}

.dialog-close:hover {
	box-shadow: 0 1px 5px 0 @black;
	box-shadow: 0 1px 5px 0 fade(@black, 80%);
}

.dialog-close:before,
.dialog-close:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 3px;
	border-radius: 3px;
	width: 24px;
	height: 6px;
	background-color: @grey-medium;
	transition: background-color 0.2s ease;
}

.dialog-close:hover:before,
.dialog-close:hover:after {
	background-color: @grey-dark;
}

.dialog-close:before {
	transform: rotate(45deg);
}

.dialog-close:after {
	transform: rotate(-45deg);
}

.dialog-content {
	padding: 30px;
}
