/*
 ---------------------------------------------------------------------------------------------------
 Custom - Variables
 ---------------------------------------------------------------------------------------------------
*/

@images: '../img';

@large: ~'(min-width: 980px)';
@medium: ~'(min-width: 768px) and (max-width: 979px)';
@small: ~'(max-width: 767px)';
@print: ~'print';

@white: #fff;
@grey-light: #eee;
@grey-medium: #ccc;
@grey-dark: #999;
@black: #111;
